body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 2.5;
  background-color: aliceblue;
  margin-left: 50px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#root > form > input[type=submit] {
  background-color: lightgreen;
  font-weight: bolder;
  font-size: larger;
}

h1,h2 {
  color: maroon;
}
label {
  color: maroon;
  font-weight: bolder;
}
#input1, #input2, #dropdown {
  margin-left: 15px;
}